body{
    margin: 0;
    padding: 0;
}

.cotaner{
    background-image: url(background.jpg);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-box{
    width: 350px;
    height: 500px;
    background-color: rgb(24, 24, 29);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(248, 245, 239);
}

.crcle{
    width: 150px;
    height: 150px;
    margin-top: 30px;
    background-image: url(background.jpg);
    border-radius: 80px;
    overflow: hidden;
}

.showNumber{
    margin-top: -100px;
    width: 200px;
    height: 70px;
    font-size: 20pt;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(183, 189, 189);
}

.showEnrgy{
    margin-top: 70px;
    margin-right: 5px;
    width: 100px;
    height: 60px;
    font-size: 15pt;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(117, 173, 161);
}

.bottom{
    margin-top: -40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer{
    margin-bottom: -150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item{
    margin: 10px 2px;
    padding: 38px;
    background-color: rgb(153, 153, 153);
    border-radius: 30px;
}