.container{
    display: grid;
    gap: 10px 10px;
    grid-template-areas:
    'logo navbar  navbar navbar client'
    'main main main main aside'
    'footer footer footer footer aside';
    /* 'footer footer footer footer .'; */

}

.container> *{
    background-color: rgb(5, 70, 70);
    color: wheat;
    font-size: 24pt;
}

.logo{
    grid-area:logo;
}
.Navbar{
    grid-area:navbar;
}
.ClientArea{
    grid-area:client;
}
.main{
    grid-area:main;
}
.aside{
    grid-area:aside;
}
.footer{
    grid-area:footer;
}