/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}


.col-1{
    width:8.33%;
}
.col-2{
    width:16.66%;
}
.col-3{
    width:24.99%;
}
.col-4{
    width:33.32%;
}
.col-5{
    width:41.65%;
}
.col-6{
    width:50%;
}
.col-7{
    width:58.31%;
}
.col-8{
    width:65%;
}
.col-9{
    width:74.97%;
}
.col-10{
    width:83.33%;
}
.col-11{
    width:91.63%;
}
.col-12{
    width:100%;
}

/* .row > .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-6,
.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    display: block;
    float: right;
} */

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.menu-item{
    font-size: 8pt;
    font-weight: bold;
}
/*
* Margin Section
*/
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-15{
    margin-top: 15px;
}
.mt-20{
    margin-top: 20px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}
.mr-5{
    margin-left: 5px;
}
.mr-10{
    margin-left: 10px;
}
.mx-auto{
    margin-left: auto;
    margin-right: auto;
}
/*
* Padding Section
*/
.pt-5{
    padding-top: 5px;
}
.pt-10{
    padding-top: 10px;
}
.pt-15{
    padding-top: 15px;
}
.pt-20{
    padding-top: 20px;
}
.pb-5{
    padding-bottom: 5px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-20{
    padding-bottom: 20px;
}

.px-5 {
    padding-right: 5px;
    padding-left: 5px;
}
.px-10 {
    padding-right: 10px;
    padding-left: 10px;
}
.px-15 {
    padding-right: 15px;
    padding-left: 15px;
}
.p15{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
/*
* 
*/

.inline{
    display: inline;
}
.inline-block{
    display: inline-block;
}
.block{
    display: block;
}

/*
* Height Section
*/

.h-10{
    height: 10px;
}
.h-100{
    height: 100px;
}

.h-full{
    height: 100vh;/* یعنی 100 درصد عرض کاربر رو بگیر */
}
/*
* Height Section
*/
.w-full{
    width: 100%;
}
img{
    border-radius: 100% 100% 100% 100%;   
}
.avatar{
    height: 100px;
    width: 100px;
}

/*
* hypografy
*/

.text-xl{
    font-size: 25px;
}

/*
* colors
*/
.bg-blueviolet{
    background-color: rgb(167, 167, 167) !important;
}
.bg-dark{
    background-color: rgb(119, 70, 70) !important;
}
body{
    background-color: rgb(59, 53, 53);
}

.Container{
    background-color: aqua;
    /* overflow-y: scroll; */
    overflow-x: hidden;

}

.menu {

}

.menu .menu-item{
    display: inline-block;
    font-size: 8pt;
    font-weight: 500pt;
    margin-left: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-item:first-child{
    margin-left: 0px !important;
}

.menu-item:hover{
    color: rgb(13, 172, 145);
}

.active {
    color: rgb(13, 172, 145);
}

.active:hover {
    color: rgb(83, 30, 168);
}

/*
* colors
*/

.float-right{
    float: right;
}
.float-left{
    float: left;
}
.clear {
    clear: both;/*مکمل فلوت*/
}


/*
* text
*/
.text-zero {
    font-size: 0px;
}

.text-md{
    font-size: 12pt;
}

@font-face {
    font-family: "Vazirmatn";
    src:
    local("Vazirmatn"),/*  از سیستم کاربر چک کن */
    url("/assest/font/vazirmatn/Vazirmatn-Bold.woff2") , format("woff2");
    font-weight: bold;
} 
@font-face {
    font-family: "Vazirmatn";
    src:
    local("Vazirmatn"),/*  از سیستم کاربر چک کن */
    url("/assest/font/vazirmatn/Vazirmatn-Light.woff2") , format("woff2");
    font-weight: Light;
} 
@font-face {
    font-family: "Vazirmatn";
    src:
    local("Vazirmatn"),/*  از سیستم کاربر چک کن */
    url("/assest/font/vazirmatn/Vazirmatn-Bold.woff2") , format("woff2");
    font-weight: bold;
}

p {
    font-family: 'Vazirmatn';
}
  

body{ /*برای سازگاری بیشتر */
    background-clip: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
}